<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="{{ '/styles/styles.css' | prepend:site.url }}">
</head>

<body class="outer-body">
	<div id="container" class="markdown-body">
		<span>
			{% if site.nav-links %}
			<nav>
				<ul>
					<li><a href="/"><b>{{ site.title }}</b></a></li>
					{% for link in site.nav-links %}
					{% if link.url != "/" %}
					<li><a href="{{ link.url | prepend:site.url }}">{{ link.name }}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</nav>
			{% endif %}
		</span>
