---
---

$accent-color: #b00;
$font-stack: -apple-system,
             system-ui,
             BlinkMacSystemFont,
             "Segoe UI",
             Roboto,
             "Helvetica Nueue",
             Arial, sans-serif,
             "Apple Color Emoji",
             "Segoe UI Emoji",
             "Segoe UI Symbol";
$heading-font-stack: -apple-system,
                     system-ui,
                     BlinkMacSystemFont,
                     "Segoe UI",
                     Roboto,
                     "Helvetica Nueue",
                     Arial, sans-serif,
                     "Apple Color Emoji",
                     "Segoe UI Emoji",
                     "Segoe UI Symbol";
$code-font-stack: Inconsolata, monospace;
$container-max-width: 750px;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Structure
body {
  font-family: $font-stack;
}

#container {
  width: 90%;
  max-width: $container-max-width;
  margin: 4rem auto;
}

// Navigation
nav {
  margin: 1rem 0 2rem;
}

nav.default {
  margin-top: 2rem;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav a {
  margin-right: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

// Typography: heading
h1,
h2,
h3,
h4 {
  color: #333;
  font-family: $heading-font-stack;
}

h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.global-title {
  font-size: 3rem;
  font-weight: 800;
  color: #222;
}

h2 {
  font-size: 1.6rem;
  margin: 1.25rem 0 0.5rem;
}

h3 {
  font-size: 1.3rem;
  margin: 2rem 0 0.75rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: semibold;
  margin: 1rem 0 1rem;
}

// Typography: body
p,
li {
  font-size: 1rem;
  line-height: 150%;
  color: #444;
  margin: 1.25rem 0;
}

li {
  margin: 0.25rem 0 0 2.5rem;
}

li {
  margin-left: 1.75rem;
}

li:first-child {
  margin-top: 0;
}

a {
  color: $accent-color;
  text-decoration: none;
  transition: color 100ms;
}

a:hover,
a:active {
  color: lighten($accent-color, 10%);
  transition: color 100ms;
}

// Images
img {
  max-width: 100%;
}

.avatar {
  width: 7rem;
  height: 7rem;
  border-radius: 4rem;
  margin-right: 1.5rem;
}

// Homepage title block
.greeting-container {
  display: flex;
}

.greeting-container h1,
.greeting-container h3,
.greeting-container h4 {
  align-self: center;
  margin: 0;
}

.timestamp {
  color: #676767;
}

.timestamp-inline {
  line-height: 1;
  align-self: flex-end;
  display: inline-block;
}

.timestamp-block {
  display: block;
  margin-top: 0.75rem;
}

code {
  background: #ddd;
  padding: 3px 5px;
  border-radius: 2px;
  font-family: $code-font-stack;
}

.metadata > .duration {
  color: #6B6B6B;
  margin-top: -0.75rem;
  margin-bottom: 0.75rem;
  font-family: $font-stack;
}

.metadata {
  padding: 0;
}

p.description {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

li.description:first-child {
  margin-top: 0;
}
